<!DOCTYPE html>
<HTML>
<HEAD>
<style>
  body {
    background-color: #99ccff
  }

</style>
</HEAD>
<BODY>
  <div> Welcome <%= @name %>, you've made it this far. </div>
  <div> You've told me that your birthday is on the <%= @day %></div>
  <div> And you were born in <%= @month %> </div>


</BODY>
</HTML>
